/* #accordionSidebar{
    position:fixed;
    overflow: auto;
    z-index: 9999;
} */

/* button{
    background-color:;
} */

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 200px;
}
.ck-content .image {
    /* Block images */
    max-width: 80%;
    margin: 20px auto;
}
